body {
  padding-top: 60px;
}

#messages{
  overflow:scroll;
  height:600px;
}
.message:nth-child(odd){
  background-color:#f9f9f9;
}
.fixed-bottom{
  position:fixed;
  bottom:0;
}
.pull-right {
  position: fixed;
  right: 10px;
}
